body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 25px;
  text-align: center;
}

.card {
  background: #111827;
  max-width: 520px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #374151;
  background: #020617;
  color: #e5e7eb;
}

button {
  width: 100%;
  padding: 15px;
  background: #25D366;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.pay {
  display: block;
  text-align: center;
  background: #2563eb;
  padding: 12px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  color: #9ca3af;
  padding: 20px;
  font-size: 13px;
  }
